@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

$blueLite: #0085C8;
$yellowLite: #FBAC45;

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: $blueLite;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    font-size: 42px;
    color: $yellowLite;
    text-shadow:2px 2px #0BB8BD;

}



@import './moduls/scss/normalize';
@import './moduls/scss/main';
@import './moduls/scss/main-baner';
@import './moduls/scss/cyber';
@import './moduls/scss/btn';
@import './moduls/scss/news';
@import './moduls/scss/services';
@import './moduls/scss/careers';